name: Generate Snake
 
on:
   schedule:
     - cron: "0 0 * * *"  
   workflow_dispatch:
 
jobs:
   generate:
     runs-on: ubuntu-latest
     steps:
       - uses: actions/checkout@v2
       - uses: Platane/snk@v3
         with:
           github_user_name: bibek1414
           outputs: |
             dist/github-snake.svg
             dist/github-snake-dark.svg
       - uses: crazy-max/ghaction-github-pages@v3
         with:
           target_branch: output
           build_dir: dist
         env:
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
